#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <3 4>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <5 6>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <28 29>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <19 20>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <18 19>;
        };

        delete_word {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <9 8>;
        };

        delete {
            bindings = <&kp DEL>;
            key-positions = <31 32>;
        };

        caps_word_toggle {
            bindings = <&kp LS(CAPSLOCK)>;
            key-positions = <1 2 3>;
        };

        parentheses {
            bindings = <&ParentHeses>;
            key-positions = <11 12>;
        };

        brackets {
            bindings = <&Brackets>;
            key-positions = <12 13>;
        };

        curlybrackets {
            bindings = <&Curlybrackets>;
            key-positions = <13 11>;
        };

        arrowL {
            bindings = <&ArrowL>;
            key-positions = <11 12>;
            layers = <1>;
        };

        arrowR {
            bindings = <&ArrowR>;
            key-positions = <12 13>;
            layers = <1>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        ArrowR: ArrowR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "ARROWR";
        };

        ArrowL: ArrowL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp MINUS>;
            label = "ARROWL";
        };

        ParentHeses: ParentHeses {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
            label = "PARENTHESES";
        };

        Brackets: Brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RBRC &kp LEFT>;
            label = "BRACKETS";
        };

        Curlybrackets: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
            label = "NEW_MACRO";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 3 Q           &kp W           &kp E        &kp R             &kp T                                    &kp Y        &kp U              &kp I        &kp O            &lt 3 P
&mt LEFT_WIN A    &mt LEFT_ALT S  &mt LCTRL D  &mt LEFT_SHIFT F  &lt 1 G                    &bt BT_SEL 0  &lt 1 H      &mt RIGHT_SHIFT J  &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_WIN MINUS
&mt LEFT_SHIFT Z  &kp X           &kp C        &kp V             &kp B      &bt BT_SEL 1    &tog 2        &kp N        &kp M              &kp COMMA    &kp DOT          &kp SLASH
&kp TAB           &kp LEFT_WIN    &kp F16      &kp GRAVE         &kp SPACE  &mkp MB1        &mkp MB2      &lt 1 ENTER                                                   &kp BACKSPACE
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_1 {
            bindings = <
&kp EXCLAMATION  &kp NUMBER_7  &kp NUMBER_8       &kp NUMBER_9  &kp PLUS                        &kp C_AC_HOME  &kp END   &kp UP_ARROW  &trans     &kp AT_SIGN
&kp AMPERSAND    &kp NUMBER_4  &kp NUMBER_5       &kp NUMBER_6  &kp NUMBER_0            &trans  &kp PAGE_UP    &kp LEFT  &kp DOWN      &kp RIGHT  &kp COLON
&kp PIPE         &kp NUMBER_1  &kp NUMBER_2       &kp NUMBER_3  &kp ASTERISK  &trans    &trans  &kp PAGE_DOWN  &trans    &trans        &trans     &kp PIPE
&kp HASH         &kp SQT       &kp DOUBLE_QUOTES  &trans        &trans        &trans    &trans  &trans                                            &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        layer_2 {
            bindings = <
&kp ESC      &kp F7  &kp F8  &kp F9  &kp F10                     &mkp MB5  &kp PG_UP  &kp PG_DN  &trans    &kp RC(PLUS)
&kp TAB      &kp F4  &kp F5  &kp F6  &kp F11             &trans  &mkp MB4  &mkp MB1   &mkp MB3   &mkp MB2  &kp RC(MINUS)
&kp LS(TAB)  &kp F1  &kp F2  &kp F3  &kp F12  &kp F13    &trans  &trans    &trans     &trans     &trans    &trans
&trans       &trans  &trans  &trans  &trans   &trans     &trans  &trans                                    &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans            &trans       &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_4 {
            bindings = <
&trans  &kp LC(LS(TAB))     &kp PRINTSCREEN         &kp LC(TAB)              &trans                                     &trans  &kp HOME        &kp UP_ARROW    &kp END          &trans
&trans  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)     &kp LC(LG(LEFT_ARROW))   &kp LC(LG(RIGHT_ARROW))            &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp LEFT_SHIFT      &kp LG(LS(LEFT_ARROW))  &kp LG(LS(RIGHT_ARROW))  &trans                   &trans    &trans  &trans  &kp DELETE      &kp PAGE_UP     &kp PAGE_DOWN    &trans
&trans  &trans              &trans                  &trans                   &trans                   &trans    &trans  &trans                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        MOUSE {
            bindings = <
&trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans            &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&trans  &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans    &trans    &trans    &trans  &trans    &trans  &trans                                &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_7 {
            bindings = <
&trans  &kp LC(LS(TAB))     &kp PRINTSCREEN         &kp LC(TAB)              &trans                                     &trans  &kp HOME        &kp UP_ARROW    &kp END          &trans
&trans  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)     &kp LC(LG(LEFT_ARROW))   &kp LC(LG(RIGHT_ARROW))            &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp LEFT_SHIFT      &kp LG(LS(LEFT_ARROW))  &kp LG(LS(RIGHT_ARROW))  &trans                   &trans    &trans  &trans  &kp DELETE      &kp PAGE_UP     &kp PAGE_DOWN    &trans
&trans  &trans              &trans                  &trans                   &trans                   &trans    &trans  &trans                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
